<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Spike.Contracts.IUserAdapter, Spike.Contracts" mapTo="Spike.Adapters.UserAdapter, Spike.Adapters" />
      <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Orchestrations.SecurityOrchestration, Spike.Orchestrations" name="LatestVersion" />
      <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Stubs.Orchestrations.SecurityOrchestrationStub, Spike.Stubs" name="StubbedVersion" />
    </container>
  </unity>
  <connectionStrings>
    <add name="Database.DataContext" providerName="System.Data.SqlClient" connectionString="Server=.;Database=CiData; Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>