<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Stubs.Orchestrations.SecurityOrchestrationStub, Spike.Stubs" />
      
      <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Stubs.Orchestrations.SecurityOrchestrationStub, Spike.Stubs" name="StubbedVersion" />
      <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Orchestrations.SecurityOrchestration, Spike.Orchestrations" name="LatestVersion" />
    </container>
  </unity>
</configuration>