<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  	  <configSections>
	    <section name="Unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>
  
  <Unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
	    <container>
	      <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Stubs.Orchestrations.SecurityOrchestrationStub, Spike.Stubs" name="SubbedVersion"/>
        <register type="Spike.Contracts.ISecurityOrchestration, Spike.Contracts" mapTo="Spike.Orchestrations.SecurityOrchestration, Spike.Orchestrations" name="LatestVersion"/>
	    </container>
  </Unity>


</configuration>